# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.venv
venv
*.egg

# Project files
.firebase
.firebaserc
firebase.json
public
piper
Giao\ trinh
*.xlsx
*.md
*.bat
*.log

# Other
.git
.gitignore
.claude
.DS_Store
